
:root {
  --primary-bg: #E0E0E0;
  --secondary-bg: #F1F1F1;
  --tertiary-bg: #D3D3D3;
  --button-dark-bg: #676767;
  --button-light-bg: #FFFFFF;
  --button-play-bg: #60BB68;
  --text-dark: #2E2D2B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}