@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-bg: #E0E0E0;
  --secondary-bg: #F1F1F1;
  --tertiary-bg: #D3D3D3;
  --button-dark-bg: #676767;
  --button-light-bg: #FFFFFF;
  --button-play-bg: #60BB68;
  --text-dark: #080808;
  --text-accent: #2E2D2B;
  --text-light: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}